apiVersion: v1
kind: PersistentVolume
metadata:
  name: taskmaster-pv
  namespace: taskmaster
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data/taskmaster

