apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: taskmaster-pvc
  namespace: taskmaster
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

